.user-info {
    width: 80%;
    max-width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-info__image {
    width: 38px;
    height: 38px;
}

.user-info__title {
    margin: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.user-info__description {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

@media (max-width: 425px) {
    .user-info__title {
        font-size: 22px;
        line-height: 295px;
    }

    .user-info__description {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
}