.popup {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__status-container {
    position: relative;
    max-width: 430px;
    height: 330px;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.popup__status-image {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
}

.popup__status-title {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    max-width: 358px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}

.popup__close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -32px;
    width: 22px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/src/images/CloseIcon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 767px) {
    .popup__status-container {
        max-width: 282px;
        height: 322px;
    }

    .popup__status-title {
        margin-top: 40px;
        font-size: 20px;
        line-height: 24px;
    }

    .popup__close-button {
        right: 0;
    }
}